{% extends "base.html" %}
{% block recommend %}
{% load static %}
<form id="recommend" method="POST" action="{% url 'recommendation:index' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <style>
        .item-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: 20px;
            margin-top : 50px;
        }
        .box{
            margin: 10px; 
            background-color : #e3d9d0;
            width : 200px;
            height : 100px;
            margin-bottom : 10px;
            text-align : center;
            padding : 22px 0;
            border-radius: 400px;

        }

{% comment %} 

        .box {
            width:10%; /* 5개를 2줄로 나열하려면 각 박스의 폭을 조정하세요 */ 
            height: 20%; /* 적절한 높이를 설정하세요 */ 
            margin-bottom: 10px; /* 각 박스 사이의 간격을 조정하세요 */
            margin-right: 5px;


        }
        .image-container{
            width : 18%
            height:100%;
        }  {% endcomment %}
    </style>
    <div style="text-align:center" padding-top="10px">
    -------  CATEGORY  ------
    </div>
<div class="item-container">
        {% for item in top10 %}
        <ol> <div class='box'>
            <strong>{{ item.0 }}</strong><br>
            {{ item.1 }}
        </div></ol>
        {% endfor %}
            {% comment %} {% if item.0 == '뷰티' and item.1 == '클린/비건뷰티' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
                <ol>{{ item.0 }} - {{ item.1 }}</ol>
                </div>
            {% elif item.0 == '뷰티' and item.1 == '메이크업' %}
                <div class='box'>
                    <div class="image-container">
                        <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                    </div>
                <ol>{{ item.0 }} - {{ item.1 }}</ol>
                </div>
            {% elif item.0 == '생활용품' and item.1 == '공구/철물/DIY' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '생활용품' and item.1 == '세탁/청소용품' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '식품' and item.1 == '과자/초콜릿/시리얼' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '생활용품' and item.1 == '구강/면도' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '식품' and item.1 == '커피/원두/차' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '아트/공예' and item.1 == '데코/포장용품' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '주방용품' and item.1 == '그릇/홈세트' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>
            {% elif item.0 == '헬스/건강식품' and item.1 == '영양제' %}
            <div class='box'>
                <div class="image-container">
                    <img src="{% static 'images/beauty_makeup.jpg' %}" alt="Beauty Makeup" >
                </div>
            <ol>{{ item.0 }} - {{ item.1 }}</ol>
            </div>



            {% endif %}
        {% endfor %} {% endcomment %}
    </div>
</form>
{% endblock recommend %}